@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 17px;
  cursor: default;
  transition: 0.4s;
}
.no-scroll {
  overflow: hidden;
}

body {
  background-color: #191919;
  color: white;
}

#abrir,
#butt-light-dark {
  cursor: pointer;
  background-color: #363636;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 5px;
  border: none;
  transition: 0.2s;
}
#abrir:hover,
#butt-light-dark:hover {
  background-color: #4f4f4f;
}

#butt-light-dark {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aa-281 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #36363676;
  background-color: #141414;
  z-index: 2;
}

.aa-port {
  font-size: 25px;
  font-weight: 500;
}

#light,
#dark {
  cursor: pointer;
}

#excluir {
  position: absolute;
  background-color: #0000007d;
  height: 100vh;
  width: 100vw;
  display: none;
}

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0px auto;
  padding: 4.1rem 1rem 0rem 1rem;
}
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  max-width: 1100px;
  margin: 0px auto;
  padding: 0rem 1rem 0rem 1rem;
}
.labatut {
  font-size: 49px;
  font-weight: 550;
}
.frontend {
  font-size: 20px;
}
.linha {
  background-color: white;
  width: 80px;
  height: 1px;
  margin-right: 14px;
}
.bb-lin82z {
  display: flex;
  align-items: center;
  margin: 12px 0px 19px 0px;
}
.bb-apai2911,
.bb-p2xx {
  font-size: 16px;
  max-width: 430px;
  line-height: 27px;
  color: #ffffffbd;
}
.iconez {
  margin: 20px 0px 20px 0px;
}
.bb82 {
  font-size: 30px;
  padding: 10px;
  background-color: #363636;
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.bb82:hover,
.botao-contato:hover,
.download-cv:hover,
.dd-demo:hover,
.dd-bott:hover {
  background-color: #4f4f4f;
}
.botao-contato,
.download-cv {
  background-color: #363636;
  border: none;
  border-radius: 1rem;
  padding: 20px;
  width: 170px;
  margin-top: 40px;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.2s;
}
.download-cv {
  width: 190px;
}
.bb-cont,
.cc-cv {
  margin-left: 14px;
  font-size: 18px;
  cursor: pointer;
}
.bb-img72 {
  height: 350px;
}
.imgend231 {
  height: 420px;
}
.bb-img72 {
  padding: 40px 2px 2px 2px;
  border-radius: 90px 90px 20px 20px;
}
.bb-titu,
.bb-pessoal {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 600;
}
.bb-pessoal {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: initial;
  position: relative;
  bottom: 50px;
  color: #ffffff63;
}
.container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 3rem 1rem 10rem 1rem;
}
.bb-z0283 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bb-p2xx {
  max-width: 550px;
}
.cc-box {
  padding: 40px;
  background-color: #54545423;
  width: 400px;
  border-radius: 10px;
}
.cc-titend {
  text-align: center;
  margin-bottom: 40px;
}
.cc-cones923 {
  display: flex;
  justify-content: space-between;
}
.aa-port {
  cursor: pointer;
}
.cc-colu92c {
  display: flex;
  flex-direction: column;
}
.cc-bx92 {
  margin-bottom: 30px;
}
.cc-co293 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dd-bo03pro {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 60px;
  justify-content: center;
}
.dd-boxy22 {
  border-radius: 20px;
  width: 400px;
  height: 350px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dd-boxy22,
.cc-box,
.dd-boxx2855,
.dd-boxx28 {
  background-color: #272727;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.499) 0px 7px 13px -3px,
    rgba(8, 8, 8, 0.362) 0px -5px 0px inset;
}
.dd-proimg {
  width: 100%;
  height: 220px;
  border-radius: 20px;
}

.dd-demo {
  background-color: #3a3a3a;
  border: none;
  padding: 10px;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}
.dd-conty2793 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.dd-fc02xx,
.dd-fc02xx0pz {
  text-align: center;
  margin-bottom: 31px;
  font-size: 20px;
}
.dd-fc02xx {
  margin-bottom: 45px;
}
.dd-boxx28,
.dd-boxx2855 {
  width: 300px;
  height: 160px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dd-boxx2855 {
  margin: 20px 0px 20px 0px;
}
.dd-e22mail {
  font-size: 25px;
}
.dd-icmail,
.dd-email {
  font-size: 14px;
  font-weight: normal;
  color: #ffffffbd;
}
.dd-esc-me {
  cursor: pointer;
  margin-top: 17px;
  font-size: 14px;
  color: #ffffffbd;
}
.fa-arrow-right {
  position: relative;
  left: 0;
  transition: left 0.4s;
}

.dd-esc-me:hover .fa-arrow-right {
  left: 5px;
}

form {
  width: 400px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dd-grpp2 {
  margin-bottom: 25px;
}
label {
  position: relative;
  top: 13px;
  left: 13px;
  background-color: #191919;
  padding: 0px 7px 0px 7px;
  border-radius: 20px;
  font-size: 14px;
}
#nome,
#email,
#mensagem {
  outline: none;
  background: none;
  padding: 15px;
  width: 100%;
  border: 1px solid #545454;
  border-radius: 10px;
  cursor: text;
  resize: none;
}
#mensagem {
  height: 190px;
}
.dd-bott {
  padding: 1.25rem 2rem;
  background-color: #363636;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
}
.dd-rig {
  color: #ffffffbd;
  font-size: 12px;
}
.bb-cont,
.cc-cv,
.dd-rig {
  margin-left: 7px;
  cursor: pointer;
}
.cc-pp92c {
  font-size: 12px;
  color: #ffffffbd;
}
.cc-deskt {
  margin-right: 4px;
  font-size: 14px;
}
.fa-check-circle {
  margin-right: 5px;
  margin-bottom: 10px;
}
.ee-foot-2pss {
  border-top: 1px solid #36363676;
  background-color: #141414;
  padding: 10px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.ee-copy {
  font-size: 14px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #dbdbdb;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #8e8e8e;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: none;
  background-color: #00000086;
  z-index: 500;
}
#popup-1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
  text-align: center;
  z-index: 501;
  width: 400px;
  padding: 5px 5px 0px 5px;
  border: 2px solid #ffffff11;
  border-radius: 10px;
}
.popup-1 li a {
  border-radius: 7px;
  cursor: pointer;
  font-size: 30px;
  color: #ffffff99;
  background-color: #ffffff1e;
  transition: 0.2s;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff11;
  margin-bottom: 5px;
}
.popup-1 li a:hover {
  color: white;
  text-shadow: 0px 0px 15px white, 0px 0px 5px white, 0px 0px 40px white;
  box-shadow: inset 0px 0px 50px #ffffff27;
  border: 2px solid #ffffff4d;
}
.popup-2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 1000;
  display: none;
}
.popup-2 h1 {
  color: #000000a2;
}
.no-scroll {
  overflow: hidden;
}
video {
  width: 700px;
  transition: initial;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.499) 0px 7px 13px -3px,
    rgba(8, 8, 8, 0.362) 0px -5px 0px inset;
}
.links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal-1 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #272727;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.499) 0px 7px 13px -3px,
    rgba(8, 8, 8, 0.362) 0px -5px 0px inset;
  padding: 6px 20px 20px 20px;
}

.butt-linkz {
  cursor: pointer;
  background-color: #3a3a3a;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.499) 0px 7px 13px -3px,
    rgba(8, 8, 8, 0.362) 0px -5px 0px inset;
}
.butt-linkz:hover {
  background-color: #4f4f4f;
}
.butt-linkz p {
  margin-left: 8px;
  cursor: pointer;
  font-size: 15px;
}
.fa-linkedin-in,
.fa-globe,
.modal-icon-github {
  cursor: pointer;
  font-size: 25px;
}
.dal-titul {
  font-size: 20px;
  font-weight: 600;
  transition: initial;
}

.tituz-excluir {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 10px;
  margin-bottom: 6px;
}
.tituz-excluir svg {
  position: relative;
  bottom: 6px;
  left: 20px;
  height: 40px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 20px;
  background-color: #3a3a3a;
  padding: 7px;
  fill: white;
  transition: background-color 0.2s;
  cursor: pointer;
}
.tituz-excluir svg:hover {
  background-color: #4f4f4f;
}
svg path {
  cursor: pointer;
}
.dd-leanguz {
  font-size: 13px;
  color: #ffffffbd;
  position: absolute;
  background-color: #272727;
  padding: 0px 10px 5px 0px;
  border-bottom-right-radius: 10px;
}
